/* CSS */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 22px;
    background-image: url(./imgs/25101.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.body {
    letter-spacing: 0.3px;
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 0.16 0.16 0.16 0.16 0.16 0.16;
    grid-template-areas: 
    'menu-container'
    'present'
    'servicios'
    'staff'
    'Nosotras-section'
    'container-turno'
    'container-footer'
    ;
}

.menu-container {
    grid-area: menu-container;
}

.present {
    grid-area: present;
}

.servicios {
    grid-area: servicios;
}

.staff {
    grid-area: staff;
}

.Nosotras-section {
    grid-area: Nosotras-section;
}

.container-turno {
    grid-area: container-turno;
}

.container-footer {
    grid-area: container-footer;
}



/* inicio Header */

.menu-container {
    background-color: #17a8b3c7;
    height: 90px;
    width: 100%;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    max-height: 90px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline;
    text-align: right;
    margin: 0px 10px;
}

.p-logo {
    font-size: 0.8rem;
    display: flex;
    align-items: flex-end;
    color: rgb(6, 6, 31);
    position: absolute;
    left: 110px;
    bottom: 0;
}

.auno {
    text-decoration: none;
    color: #fffffff3;
    text-shadow: 1px 1px rgba(153, 151, 151, 0.836);
}

/* Fin Header */
/* inicio Presentacion */

.principal {
    padding-top: 90px;
}

.container-inicio {
    background-color: rgb(206, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.present {
    display: flex;
    color: rgb(6, 6, 31);
    text-decoration: none;
    text-align: start;
    height: 21.5em;
    /* falta hacer el croll y usar el flexwrap */
}

.principal-lema {
    color: #65666C;
}

.profe {
    padding: 80px 100px 80px 50px;
}

.palabra {
    font-size: 0.8rem;
    color: #39393a;
    padding: 4px 50px;
}

.foto-consul {
    max-width: 100%;
}

/* Fin Presentacion  */
/* Inicio Servicios */

.texto-servicio {
    font-size: 1.5rem;
    margin-bottom: 25px;
    color: rgb(6, 6, 31);
    padding-top: 90px;
}

.servicios {
    display: flex;
    justify-content: space-around;
}

.ul-servicios {
    display: flex;
    color: rgb(6, 6, 31);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    flex-wrap: wrap;
}

.foto-servicio {
    width: 100%;
    height: 210px;
}

.menu-servicios {
    background-color: #17a8b3c7;
    color: #fffffff3;
    text-align: center;
    padding: 15px 0px;
}

/* Fin Servicios */
/* Inicio Staff */

.texto-staff {
    font-size: 1.5rem;
    margin: 20px;
    color: rgb(6, 6, 31);
    padding: 90px 0px 40px 0px;
}

.staff {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    color: #65666C;
    text-align: center;
    flex-wrap: wrap;
}

/* Fin Staff */
/* Inicio Nosotras */

.texto-nosotras {
    font-size: 1.5rem;
    margin: 20px;
    color: rgb(6, 6, 31);
    padding-top: 90px;
}

.texto {
    color: #65666C;
    text-align: justify;
    margin: 30px 15px 0px 15px;
}

/* Fin Nosotras */
/* Inicio Turnos/Contacto */



.texto-contacto {
    font-size: 1.5rem;
    margin: 20px;
    color: rgb(6, 6, 31);
    padding-top: 90px;
    padding-bottom: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.img-whatsapp {
    width: 20%;
    height: auto;
}

.img-mail {
    width: 30%;
    height: auto;
}

.ul-turnos {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    color: #65666C;
    flex-wrap: wrap;  
    text-align: center;  
}

.img-contacto {
    max-width: 100%;
    max-height: 170px;
    position: absolute;
    right: 120px;
}

.wtsapp {
    flex-direction: column;
    margin-bottom: 60px;
    text-align: center;
}

.mail {
    flex-direction: column;
    margin-bottom: 60px;
    text-align: center;
}

/* Fin Turnos/Contactos */
/* Inicio Footer */
.container-footer {
    background-color: rgb(206, 202, 202);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ul-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 0px;
}

.icons {
    max-height: 30px;
    text-align: center;
}

.afooter {
    color: rgb(6, 6, 31);
}

.nav-iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    color: rgb(6, 6, 31);
    font-size: 2rem;
}

/* Fin Footer */